/*********************************************
 * 구글 글꼴
 *********************************************/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR');

html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * 적용
 *********************************************/
 

.reveal h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 47pt;
}
.reveal h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 37pt;
}
.reveal h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 27pt;
}
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Noto Sans KR', sans-serif;
}

.reveal .slide {
  font-family: 'Noto Sans KR', sans-serif;
}  