project:
  type: website
  output-dir: docs
  resources:
    - "data/2023_3교시_영어영역_듣기평가_음원/*.mp3"
    - "data/*.mp3"
  render:
    - "*.qmd"
    - "!materials/workshop/"

lang: ko-KR

website:
  title: "디지털 글쓰기"
  site-url: https://quartopub.com/sites/statkclee/quarto-ds
  twitter-card:
    card-style: summary_large_image
    description: "한글 쿼토"
    image: "fig/koRea_logo.png"
  page-footer:
    left: "[Quarto](https://quarto.org/) 로 제작"
  navbar:
    background: "#447099"
    left:
      - href: index.qmd
        text: "Home"
      - href: quarto_blog.qmd     
        text: "Blog"
      - text: Quarto
        menu:
        - href: quarto_install.qmd
          text: "Quarto 설치/출판"
        - href: quarto_about.qmd
          text: "Quarto 소개"
      - text: "글쓰기"
        menu: 
          - href: writing_history.qmd
            text: "문자와 종이 역사"
          - href: hangul_encoding.qmd
            text: "한글 인코딩"
          - href: quarto_fonts.qmd
            text: "글꼴"
          - href: quarto_sass.qmd
            text: "외양 SASS"
          - href: quarto_layout.qmd
            text: "레이아웃"
          - href: quarto_latex.qmd
            text: "한글 PDF 제작방법"
          - href: quarto_pdf.qmd
            text: "[사례] 한글 PDF"
          - href: youtube.qmd
            text: "동영상 글쓰기"
          - href: sat_pdf.qmd
            text: "2023년 수능 수학(홀수)"
      - text: "$\\LaTeX$"
        menu: 
          - href: latex.qmd
            text: "$\\LaTeX$ 들어가며"
          - href: document_editor.qmd
            text: "문서 편집기"
          - href: latex_lipsum.qmd
            text: "국영문 `lipsum`"
          - href: latex_helloworld.qmd
            text: "헬로월드 한영 문서"
          - href: latex_thesis.qmd
            text: "학위논문 양식"
          - href: latex_cover.qmd
            text: "책표지와 본문결합"
          - href: latex_rmd.qmd
            text: "Rmd --> PDF"
          - text: "------------"
          - href: bitPublish.qmd
            text: "글쓰기 --> 출판: `bitPublish`"
          - href: bitPublish_cheatsheet.qmd
            text: "`bitPublish` 참조안내서"
          - text: "------------"
          - href: R_manual.qmd
            text: "R 매뉴얼"
      - text: "엑셀(Excel)"
        menu: 
          - href: excel_why.qmd
            text: "왜 엑셀(?)"
          - href: excel_dc.qmd
            text: "엑셀: 데이터 기본기"
          - href: excel_chatGPT.qmd
            text: "챗GPT 엑셀"
      - text: "수능"
        menu: 
          - href: sat.qmd
            text: "수학능력평가"
          - href: sat_university.qmd
            text: "전국대학현황"
          - href: sat_pop.qmd
            text: "연령별 인구구조"
          - href: sat_english.qmd
            text: "수능영어 (2023)"
          - href: sat_english_solve.qmd
            text: "수능영어 (2023): 풀이"
          - href: sat_english_practice.qmd
            text: "수능영어 (2023): 훈련"            
            
      - text: 관련 정보
        menu: 
          - href: https://use-r.kr/
            text: "한국 R 컨퍼런스"
          - href: https://www.meetup.com/seoul-r-meetup
            text: "서울 R Meetup"
          - href: https://r2bit.com/seoul-r/
            text: "서울 R Meetup 발표자료"
          - href: https://r-community.org/usergroups/
            text: "글로벌 R Meetup"
          - href: https://quarto.org/
            text: "Quarto"
      - text: "IDE"
        menu: 
          - href: ide_war.qmd
            text: "AI가 쏘아올린 작은 공"
          - href: ide_vscode.qmd
            text: "Visual Studio Code"            
    right: 
      - href: https://r2bit.com
        text: "R사용자회"
      - icon: youtube
        href: https://www.youtube.com/channel/UCW-epmIvjBEhhVXw_F0Nqbw
      - icon: github
        href:  https://github.com/bit2r/quarto
      - icon: facebook
        href: https://www.facebook.com/groups/tidyverse
  sidebar: 
    style: docked
    contents: 
      - section: "PPT"
        contents:
          - href: quarto_slideshow.qmd
            text: "Quarto 슬라이드"
          - href: slideshow/index.qmd
            text: "홍익대 특강"
      - section: "전자책"
        contents:
          - href: https://statkclee.quarto.pub/quarto-book/
            text: "Quarto 전자책"
      - section: "디지털 글쓰기"
        contents:
          - href: writing/index.qmd
            text: "마크다운 글쓰기"
      - section: "코딩(Computation)"
        contents:
          - href: computation/index.qmd
            text: "코딩 (계산)"
          - href: computation/matplotlib_py.ipynb
            text: ".ipynb 파이썬 파일"
          - href: computation/matplotlib.qmd
            text: ".qmd Quarto 파일"
format:
  html:
    theme: 
      - litera
      - css/quarto.scss
    toc: true
    
execute:
  freeze: true
  
    